@model TRACSNarrative.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerSuffixName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerSuffixName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerGoesByName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerGoesByName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitznCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitznCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RaceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RaceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerSexCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerSexCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DcsdPerDeathDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DcsdPerDeathDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DcsdPerDeathFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DcsdPerDeathFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SsnNmbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SsnNmbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PnaNmbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PnaNmbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerMfInSync)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerMfInSync)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobsStatDescShort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobsStatDescShort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerInsertDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerInsertDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerInsertBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerInsertBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateBrOffCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateBrOffCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDtTm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDtTm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerEducCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerEducCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerJasFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerJasFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerVeteranFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerVeteranFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerCommentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerCommentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerDisabilityCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerDisabilityCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerDisAccModCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerDisAccModCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerDisAccModText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerDisAccModText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerAbawdCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerAbawdCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerAbawdLastUpdateDtTm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerAbawdLastUpdateDtTm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IeIndividualId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IeIndividualId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PerNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
