@model TRACSNarrative.Models.Narrative

@{
    ViewData["Title"] = "TRACS Narrative Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TRACS Narrative Details</h1>

<div>
    @*<h4>Narrative</h4>*@
    <div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>
                        PerNo
                    </th>
                    <th>
                        PerFirstName
                    </th>
                    <th>
                        PerLastName
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Person.PerNo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Person.PerFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Person.PerLastName)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PerNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PerNo)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvSequenceNmbr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvSequenceNmbr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContTypeCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContTypeCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvTypeCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvTypeCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TracsAuthRacfId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TracsAuthRacfId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvEntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvEntryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvTimeSpentHours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvTimeSpentHours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvTimeSpentMinutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvTimeSpentMinutes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvStickyNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvStickyNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TklrAttentionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TklrAttentionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvEnteredOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvEnteredOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateBrOffCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateBrOffCode)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDtTm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDtTm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateBy)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvPendedFlag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvPendedFlag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvStatusCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvStatusCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrtvScrnsChkdFlag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrtvScrnsChkdFlag)
        </dd>
    </dl>
</div>
<div>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                    NrtvTextSeqNmbr
                </th>
                <th>
                    NrtvTextDetail
                </th>
                <th>
                    LastUpdateBrOffCode
                </th>
                <th>
                    LastUpdateDtTm
                </th>
                <th>
                    LastUpdateBy
                </th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NarrativeText)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NrtvTextSeqNmbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NrtvTextDetail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdateBrOffCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdateDtTm)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdateBy)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Delete", "Delete", new { id1 = Model.BrOffCode, id2 = Model.NrtvSequenceNmbr }) |
    <a asp-action="Search">Back to Search</a>
</div>
